<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
        <link type='text/css' rel='stylesheet' href='/static/bootstrap.min.css'/>
        <link type='text/css' rel='stylesheet' href='/static/main.css'/>
        <title>Basic Blog</title>
    </head>

    <body>
        <header>
            <a href="/blog" class="main-title">
                Basic Blog
            </a>
        </header>

        <div class='row'>
            <div class="login-area">
                {% if user %}
                    <a class='newpost' href='blog/newpost'>New Post</a>
                    {{user.name}} (<a class="login-link" href="/logout">logout</a>)
                {% else %}
                    <a class="login-link" href="/login">Login</a> |
                    <a class="login-link" href="/signup">Signup</a>
                {% endif %}
            </div>

            <div id='content'>
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <script type='text/javascript' src='static/bootstrap.min.js'>

    </body>
</html>
