<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <link type='text/css' rel='stylesheet' src='/static/main.css'>
        <title>Basic Blog</title>
    </head>

    <body>
        <h1>
            <a href="/blog" class="main-title">
                Basic Blog
            </a>
        </h1>

        <div class="login-area">
              {% if user %}
                {{user.name}} (<a class="login-link" href="/logout">logout</a>)
              {% else %}
                <a class="login-link" href="/login">Login</a>
                |
                <a class="login-link" href="/signup">Signup</a>
            {% endif %}
        </div>

        <div id='content'>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
