{% extends "base.html" %}

{% block content %}

<h2>Login Page</h2>

<form method='post'>
    <div class='container'>
        <label>Username:</label>
            <input type='text' name='username' value='{{username}}'>

        <label>Password:</label>
                <input type='password' name='password' value=''>

        <div class='error'>
            {{error}}
        </div>

        <div class='clearfix'>
            <input type='submit'>
        </div>
    </div>
</form>

{% endblock %}
